h1 {
	color:red;
}

blockquote {
	color: rgb(127, 127, 127);
	background-color: rgb(239, 239, 239);
}

.badlink {
	color: rgb(255, 0, 0);
	background-color: color(255, 255, 255);
	text-decoration: line-through;
}

.indlink {
	color: rgb(0, 255, 0);
	background-color: color(0, 63, 0);
}

.indlink:hover{
	color: rgb(0, 63, 0);
	background-color: color(0, 255, 0);
}